/* Rest CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
.text-white{
color: #fff !important;
}
/*
1. Từ ngoài vào trong
2. Trên xuống dưới
3. TổNG quan đến chi tiết
*/
/*
1. vị trí 
2. Kích thước 
3. Màu sắc
4. Kiểu dáng
*/

#header {
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top:0;left: 0; right: 0;
   z-index: 1;
}
#nav {
display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav > li {
    display: inline-block;
}
#nav li {
    
    position: relative;
}
#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav li:hover a {
    color: #000;
    background-color: #fff;
    
    
}
 #nav .subnav li:hover a{
    background-color: #ccc;
    color: #000;
 }
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
    
}
#nav .subnav {
    display: none;
    position: absolute;
    top:100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    min-width: 160px;
}
#nav > li > a{
    text-transform: uppercase;
}
#nav li:hover .subnav{
    display: block;
    
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
}
#header .search-icon {
    
    display: block;
    color: #fff ;
    font-size: 20px;
    line-height: 46.5px;
}
#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}
#header .search-btn {
    float: right;
    padding: 0 21px;
}
#slider {
   margin-top: 46.5px;
   position: relative;
   padding-top: 50%;
   background: url('/assets/img/chicago.jpg') top center/ cover no-repeat ;

}
 #slider .text-content{
  position:absolute;
  color: #fff;
  bottom: 44px;
  /* left: 50%;
  transform: translateX(-50%); */
  width: 100%;  
  text-align: center;
  font-size: large;
}


#slider .text-description{
margin-top:  25px;

}
#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}
#content .section-sub-heading {
font-size: 15px;
text-align: center;
margin-top: 25px;
font-style: italic;
opacity: 0.6;
}
#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .content-section {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    text-align: justify;
    padding: 64px 0;
}
#content .member-item {
    float: left;
    text-align: center;
    width: calc(100%/3);
    
}
.member-item .member-name{
    margin-bottom: 15px;
    font-size: 15px;
}
#content .member-img{
     width: 154px;
     border-radius: 4px;
}
#content .member-list {
    margin-top: 48px;
    overflow: hidden;
}
/* Tour section */
.tour-section{
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
}